# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
venv/
.env/
.venv/

# --- Environment files ---
.env
*.env

# --- Local config / secrets ---
keys/config.py
keys/credentials.json
data/authorized_users.json
data/reboot_notifications.json
data/notifications.json
data/tq.json
data/forecasts.json
git_ignore.md
data/dict_with_codes.json
testing.ipynb
pull_data/all_forecasts.json
utils/control.json
data/players.json

# --- OS-specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- VSCode settings ---
.vscode/